/Tekcent.Controls/Tekcent.Forms.Images/packages
/Tekcent.Controls/Tekcent.Forms.Images/Tekcent.Forms.Images/Tekcent.Forms.Images/obj
/Tekcent.Controls/Tekcent.Forms.Images/Tekcent.Forms.Images/Tekcent.Forms.Images/bin
/Tekcent.Controls/Tekcent.Forms.Images/Tekcent.Forms.Images/Tekcent.Forms.Images.Droid/obj
/Tekcent.Controls/Tekcent.Forms.Images/Tekcent.Forms.Images/Tekcent.Forms.Images.Droid/bin
/Tekcent.Controls/Tekcent.Forms.Images/.vs/Tekcent.Forms.Images/v14/*.suo
